In [2]:
#import pandas to load dataframe
import pandas as pd 
df=pd.read_csv("C:/Users/92309/Desktop/Machine Learning Projects/Linear Regression Projects/Medical Cost Predict/insurance.csv")
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#check datatypes of dataframe
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [4]:
#check unique values for specific coloumns
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [6]:
#first check all coloumns missing values
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
#Apply label encoder to convert categorical dataset into numerical to train models 
df=df.replace({'male':1,'female':0,'yes':1,'no':0,'southwest':0, 'southeast':1, 'northwest':2, 'northeast':3})
df.dtypes

age           int64
sex           int64
bmi         float64
children      int64
smoker        int64
region        int64
charges     float64
dtype: object

In [8]:
#X contains input features & y contain y target values 
X=df.drop('charges',axis=1)
y=df['charges']

In [9]:
# import model from sklearn 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [10]:
#split dataset into train and test with ratio 80% & 20%
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [11]:
print(X_train.shape)
print(y_train.shape)

(1070, 6)
(1070,)

In [12]:
reg=LinearRegression()
reg.fit(X_train,y_train)
print("model train successfully ")

model train successfully

In [14]:
y_pred=reg.predict(X_test)
r2=r2_score(y_test,y_pred)
print(" r2 score of this model is : " ,r2)

 r2 score of this model is :  0.7859124027586412